.s-center-container {
    margin-top: 18.35%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; 
}

.s-image-container img {
    height: auto;
    width: 42vh;
}

.s-text-container {
    margin-top: 0.6%;
    position: absolute;
    font-size: 15px;
}

.GoDiary2 {
    width: 100%;
    margin-top: 9vh;
    font-size: 18px;
    font-weight:900;
    color: rgb(255, 255, 255);
    border: none;
    background: transparent; 
    transition: color 0.3s;
}
.GoDiary2:hover {
    color: rgb(255, 110, 151); 
}

@media (max-width: 768px) {
    .s-center-container { 
        margin-top: 25%;
    }

    .s-image-container img {
        height: auto;
        width: 90%;
    }
}