.center-container {
    margin-top: 15%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; 
}

.image-container img {
    height: 40vh;
    width: auto;
}

.text-container {
    position: absolute;
    display: grid;
    color: #4b4b4b;
}

/* 날짜 텍스트 */
.datewritten {
    margin-top: 2vh;
    margin-bottom: 2.6vh;
    margin-left: 2vh;
    text-align: left;
    font-size: 11px;
}

/* 일기 내용 */
.scrollable-content {
    padding: 0 1.1vh;
    max-width: 32.5vh;
    max-height: 26.8vh;
    overflow-y: auto;
    line-height: 200%;
    color: #363636;

    &::-webkit-scrollbar {
        width: 0.4vh;
    }
    &::-webkit-scrollbar-thumb {
        height: 30%;
        background-color: rgb(255, 200, 218);
        border-radius: 18vh;
    }
    &::-webkit-scrollbar-track {
        background-color: rgb(182, 182, 182);
        border-radius: 18vh;
    }
}

/* 작성자 아이디 */
.diarywriter {
    margin-top: 3vh;
    margin-bottom: 2vh;
    margin-right: 1vh;
    text-align: right;
    font-size: 10px;
}

@media (max-width: 768px) {
    .center-container { 
        margin-top: 25%;
    }

    .image-container img {
        height: auto;
        width: 90%;
    }
}