/* 가입 안내 */
.join_msg {
    width: 100%;
    margin-top: 22.5%;
    margin-left: 1.5%;
    position:absolute;
    font-size: 13px;
    color: #ff86a8;
}

.wrapper-login {
    margin-top: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 스마트폰 */
@media (max-width: 768px) { 
    .wrapper-login {
        margin-top: 80%;
    }

    .logincheck {
        font-size: 11px;
        margin-left: 0;
    }
}