.wrapper-login {
    margin-top: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logincheck {
    margin-top: 4vh;
    margin-left: 6.5vh;
    text-align: center;
    font-size: 13px;
    color: #FF3F79;
}

/* μ¤λ§νΈν° */
@media (max-width: 768px) { 
    .wrapper-login {
        margin-top: 80%;
    }

    .logincheck {
        font-size: 11px;
        margin-left: 0;
    }
}