.wrapper-login {
    margin-top: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* μ¤λ§νΈν° */
@media (max-width: 768px) { 
    .wrapper-login {
        margin-top: 80%;
    }

    .logincheck {
        font-size: 11px;
        margin-left: 0;
    }
}