@font-face {
  font-family: "DOSSaemmul";
  src: url("../font/DOSSaemmul.ttf"); 
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  font-family: "DOSSaemmul";
  text-align: center;
  display: flex; 
  min-height: 100vh; 
  flex-direction: column;
}

body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#root {
  width: 100%;
}

.Footer {

::-webkit-scrollbar {
  display: none;
  }
}

@media (max-width: 768px) { 
  body {
    overflow: hidden;
  }
}