.autoimg img {
    height: 27vh;
    width: 39vh;  
    margin-top: 15%;
    object-fit: cover;
}

.center-aicontainer {
    margin-top: 2%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; 
}

.image-aicontainer img {
    height: 12.7vh;
    width: auto;
}

.text-aicontainer {
    height: 100%;
    position: absolute;
    display: grid;
    color: #4b4b4b;
}

/* 일기 내용 */
.scrollable-aicontent {
    margin-top: 5.2vh;
    width: 36vh;
    height: 9.6vh;
    overflow-y: auto;
    line-height: 200%;
    color: #363636;
    text-align: center;

    &::-webkit-scrollbar {
        width: 0.4vh;
    }
    &::-webkit-scrollbar-thumb {
        height: 30%;
        background-color: rgb(255, 200, 218);
        border-radius: 18vh;
    }
    &::-webkit-scrollbar-track {
        background-color: rgb(182, 182, 182);
        border-radius: 18vh;
    }
}