/* 타이틀 */
.MainTitle {
    font-size: 68px;
    margin-top: 30vh;
    margin-bottom: -42vh;
}

/* 안내 메세지 */
.id_info, .pw_info {
    width: 50%;
    text-align: left;
    margin-left: 9%;
    font-size: 11px;
    color: rgb(255, 143, 190);
}

/* input 타이틀 */
.login_inputId label, .login_inputPw label {
    width: 32%;
    margin-top: 2.4%;
    font-size: 15px;
}

/* input */
.background-wrap {
    background-size: contain;
    background-repeat: no-repeat;
    height: 4vh;
    width: 48vh; 
    display: flex;
    justify-content: center;
}

/* 아이디 */
.login_inputId {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}
/* 아이디 배경이미지 */
.login_inputId .background-wrap {
    background-image: url('../../images/input_id.PNG');   
}
/* 아이디 input */
.login_id {
    width: calc(100% - 16%);
    margin-left: -8%;
    text-align: center;
    font-size: 13px;
    background: transparent; 
    border: none; 
    outline: none;
}

/* 비밀번호 */
.login_inputPw {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
/* 비밀번호 배경이미지 */
.login_inputPw .background-wrap {
    background-image: url('../../images/input_pw.PNG');
}
/* 비밀번호 input */
.login_pw {
    width: calc(100% - 16%);
    margin-left: -8%;
    text-align: center;
    font-size: 13px;
    background: transparent; 
    border: none; 
    outline: none;
}

/* 클릭 버튼 */
.clickimgbtn {
    background: none;
    border: none;
}
.clickimgbtn img {
    width: 7.3vh;
    margin-left: -6vh;
    height: auto; 
    transition: transform 0.3s; 
    transform: rotate(6deg);
}


/* 스마트폰 */
@media (max-width: 768px) {
    /* 타이틀 */
    .MainTitle {
        font-size: 32px;
        margin-top: 26vh;
        margin-bottom: -84%;
    }

    /* 안내 메세지 */
    .id_info, .pw_info {
        width: 100%;
        margin-left: 24%;
        font-size: 10px;
        color: rgb(255, 143, 190);
    }
    .id_info {
        margin-bottom: -50%;
    }

    /* input 타이틀 */
    .login_inputId label, .login_inputPw label {
        width: 28%;
        margin-top: 2.4%;
        margin-left: -11%;
        margin-right: 1%;
        font-size: 13px;
    }
    
    /* input */
    .background-wrap {
        background-size: contain;
        background-repeat: no-repeat;
        height: 4.4vh;
        width: 44vh; 
        display: flex;
        justify-content: center;
    }

    .login_id,
    .login_pw {
        font-size: 11px;
        margin-left: -3%;
    }

    /* 아이디 */
    .login_inputId {
        margin-top: 14%;
        margin-bottom: 1%;
    }
    
    /* 클릭 버튼 */
    .clickimgbtn img {
        width: 7vh;
        margin-top: 9vh;
        margin-right: 1vh;
        transition: transform 0.3s; 
        transform: rotate(6deg);
    }

    .s-center-container { 
        margin-top: 25%;
    }

    .s-image-container img {
        height: auto;
        width: 90%;
    }
}


.s-center-container {
    margin-top: 15%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; 
}

.s-image-container img {
    height: auto;
    width: 40vh;
}

.s-text-container {
    position: absolute;
}
